fastapi==0.116.1
konlpy==0.6.0
lightfm==1.17
numpy==2.2.6
openai==1.99.9
pandas==2.3.1
prophet==1.1.7
pydantic==2.11.7
python-dotenv==1.1.1
Requests==2.32.4
scikit_learn==1.7.1
scipy==1.15.3
sentence_transformers==5.0.0
SQLAlchemy==2.0.42
uvicorn==0.35.0
psycopg2-binary==2.9.10
torch==2.7.1
